# Игнорируем временные файлы и каталоги Android-проекта.
# Используется при сборке Gradle и в Android Studio.
# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
